@model IEnumerable<OzellikViewModel>
@{
    ViewData["Title"] = "OzellikGuncelle";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.UrunAdi</h4>

                        <form asp-action="OzellikGuncelle" asp-controller="UrunEkle" method="post">
                            @foreach (var item in Model)
                            {


                                <div class="form-group">
                                    <label>Özellik Adı</label>
                                    <input type="text" class="form-control" name="OzellikAdi[]" value="@item.Key">
                                </div>
                                <div class="form-group">
                                    <label>Özellik Değeri</label>
                                    <input type="text" class="form-control" name="OzellikDegeri[]" value="@item.Value">
                                </div>
                            }




                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button class="btn btn-dark">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
