
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout/_MainLayout.cshtml";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div style="text-align:center">
    <h2>Sunmuş Olduğumuz Profosyonel Hizmetler</h2>

    <div class="demo-list center">
        <div class="demo-item">
        </div><!-- End .demo-item -->
        <div class="demo-item">
            <a asp-action="GuvenlikSistemleriHizmetleri" asp-controller="Hizmetlerimiz">
                <span class="demo-bg" style="background-image: url(/images/kamera.jpg);"></span>
                <span class="demo-title">Güvenlik Sitemleri</span>
            </a>
        </div><!-- End .demo-item -->

        <div class="demo-item">
            <a asp-action="BilgisayarTeknikServisHizmetleri" asp-controller="Hizmetlerimiz">
                <span class="demo-bg" style="background-image: url(/images/bilgisayar-teknik.jpg);"></span>
                <span class="demo-title">Bilgisayar Bakımı</span>
            </a>
        </div><!-- End .demo-item -->
        <div class="demo-item">
            <a asp-action="FiberAltyapıHizmetleri" asp-controller="Hizmetlerimiz">
                <span class="demo-bg" style="background-image: url(/images/fiber.jpg);"></span>
                <span class="demo-title">Fiber ALtyapı</span>
            </a>
        </div><!-- End .demo-item -->
    </div>
    <div class="demo-list">
        <div class="demo-item">
        </div><!-- End .demo-item -->
        <div class="demo-item">
            <a asp-action="NetworkDataKablolamaHizmetleri" asp-controller="Hizmetlerimiz">
                <span class="demo-bg" style="background-image: url(/images/datakablo.jpg);"></span>
                <span class="demo-title">Yazıcı Teknik Servisi</span>
            </a>
        </div><!-- End .demo-item -->
        <div class="demo-item">
            <a asp-action="YaziciTeknikServisHizmetleri" asp-controller="Hizmetlerimiz">
                <span class="demo-bg" style="background-image: url(/images/yaziciservis.jpg);"></span>
                <span class="demo-title">Yazıcı Teknik Servisi</span>
            </a>
        </div><!-- End .demo-item -->
        <div class="demo-item">
            <a asp-action="KartusTonerServisHizmetleri" asp-controller="Hizmetlerimiz">
                <span class="demo-bg" style="background-image: url(/images/tonerdolumu.jpg);"></span>
                <span class="demo-title">Yazıcı Teknik Servisi</span>
            </a>
        </div><!-- End .demo-item -->




    </div><!-- End .demo-list -->
</div>

