<div class="dropdown compare-dropdown">
    <a asp-controller="Login" asp-action="Index" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
        <i class="icon-user"></i>
        <span class="compare-txt">Giriş yap</span>
    </a>

</div><!-- End .compare-dropdown -->